/*===================== Body =====================*/
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

.button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

/*===================== Header =====================*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header-container {
  display: flex;
  justify-content: space-between;
}

.page-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  margin-right: 76px;
}

.header-logo .color-studio {
  color: #2e2f42;
}

.navigation-title {
  display: flex;
  gap: 40px;
}

.navigation-title .link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation-title .link:hover {
  color: #404bbf;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.navigation-title .link:focus {
  color: #404bbf;
}

.link {
}

/*===================== Address =====================*/

.address-info {
  font-style: normal;
  padding-top: 24px;
}

.address-item {
  display: flex;
  gap: 40px;
}

.address-info .link-address {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  padding-top: 20px;
  padding-bottom: 20px;
}

.address-item .link-address:hover {
  color: #404bbf;
}

.address-item .link-address:focus {
  color: #404bbf;
}

/*===================== Main =====================*/
/*===================== Section 1 =====================*/

.main-title {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  padding-bottom: 48px;
  text-align: center;
  margin: auto;
}

.saction-solutions {
  background: #2e2f42;
  height: 600px;
  flex-shrink: 0;
  padding-top: 188px;
  padding-bottom: 188px;
}

.button {
  font-family: "Roboto", sans-serif;
  background: #4d5ae5;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  gap: 10px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: auto;
}

.button:hover {
  background: #404bbf;
}

.button:focus {
  background: #404bbf;
}

/*===================== Section 2 =====================*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.preference-section {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}

.item-preference {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.title-preference {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  display: flex;
}

.content-preference {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
}
.info-preference {
  display: flex;
  width: calc((100% - 72px) / 4);
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
}
/*===================== Section 3 =====================*/

.team {
  background: #f4f4fd;
  height: 732px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.item-team {
  list-style-type: none;
  display: flex;
  padding-bottom: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  gap: 24px;
}

.title-team {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.name-team {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.profession {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.info-team {
  background: #fff;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}

.info-personnel {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  margin-bottom: 8px;
}

/*===================== Section 4 =====================*/
.project-content {
  padding-top: 120px;
  padding-bottom: 120px;
}

.project-content-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.project-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.project-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 0;
  row-gap: 48px;
  column-gap: 24px;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
}

.project-name {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-service {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.project-img {
  height: 300px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}

/*===================== Footer =====================*/

.footer-page {
  background: #2e2f42;
  height: auto;
  flex-shrink: 0;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo .color-studio {
  color: #f4f4fd;
}

.info-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: flex;
  width: 264px;
}
